/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/skybg.jpg"); /*---Free stock photo from Unsplash---*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
 

	
}

.center {
    width: 40%;
	min-width: 300px; /* -----This is for responsiveness -----*/
	padding: 2%;
    margin: 50px auto; /*---Decreased marging from 100px to 50px to make page easier to scroll---*/
 	background: rgba(230, 179, 217, 0.45); /*this uses opacity of 45% for the background color*/
	text-align: center;
	border-radius: 75 px 0px 75 px 0 px;
	border: 2px white;
}

   
#logo {
	width: 25%; /*---This is for responsiveness -----*/
    margin-top: 16px;
	margin-bottom: 2px;
	border: 2px white; /*--changed he border by removing the dashed element and changing the color--*/
	text-align: center;
}

h1 {
font-family: acme-gothic, sans-serif;
font-weight: 700;
font-style: normal;
	font-size: 1.75em; /*---Decreased the font size---*/
    margin: 0px auto 0px auto;
    color: #473044;   /*---Changed to a darker color---*/
letter-spacing: .1em; /*---Added letter spacing---*/
}

h2 {
 font-family: new-hero, sans-serif;
font-weight: 400;
font-style: normal; 
	font-size: 1.5em;
    line-height: 1.4;
    color: #473044;  /*---Changed to a darker color---*/
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
font-family: acme-gothic, sans-serif;
font-weight: 400;
font-style: normal;
	font-size: 1.2em;
    line-height: 1.6;
    color: #473044;   /*---Changed to a darker color---*/
margin-top: 5px;    /*---Decreased the margin top to less---*/
margin-bottom: 15px;    /*---Added a margin bottom to the paragraph---*?
letter-spacing: .1em; /*---Added margin-top and margin bottom and letter spacing---*/
}

nav{
	font-family: new-hero, sans-serif;
	font-size: 1.60em;  /*--Changed the font size and weight---*/
	font-weight: 400;
	font-style: normal;
	width: 400px;
	margin: 30px auto;
	padding: 1%;  /*---Added padding to the nav----*/
	background: rgba(230, 179, 217, 0.45); /*this uses opacity of 45% for the background color*/
	border-width: 15px 0;
	text-align: center;
	margin-top: 2em;
}

nav li{
	display: inline;
}

nav a{
	display: inline-block;
	padding: 10 px;
}

a{
	color: #444;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: black;
	background: rgb(206, 189, 255); /*---Changed the hover color to a light purple---*/
}

